/* @override http://stage.hellokittyonline.com/modules/mod_superfishmenu/tmpl/css/superfish-navbar.css */


/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/

/*
     FILE ARCHIVED ON 21:00:00 Feb 02, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:06:57 Mar 01, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.081
  cdx.remote: 0.098
  esindex: 0.011
  LoadShardBlock: 157.137 (6)
  PetaboxLoader3.datanode: 114.154 (7)
  load_resource: 95.777
  PetaboxLoader3.resolve: 60.444
*/